{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock %}
{% block content %}
    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead mb-0">Olaniyi is a penultimate student of the premier University of Ibadan in Oyo state, Nigeria.
                    He has been a fitness enthusiast for as long as he can remember (7 years, give or take) and has been playing around computers for a while.
                Now, he plans to fully immerse himself in them.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead mb-0">He dreams of becoming a really good full stack web developer and make a ton of money while at it. He wishes to grow his beards fully so he can complete the sexy programmer's look. :D
                    His only known weaknesses are family, babies, cute cat pictures,
                     <a class="his-lady" href="https://twitter.com/adeyemi_nicole">his lady</a> and the <i>amala</i> she makes. (^_^)</p>
            </div>
        </div>
    </div>
    </section>
{% endblock %}